name: "build-test"

on:
  pull_request:
  push:
    branches:
      - !master

jobs:

  build-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: borales/actions-yarn@v2.1.0
      with:
        cmd: install
    - uses: borales/actions-yarn@v2.1.0
      with:
        cmd: build
    - uses: borales/actions-yarn@v2.1.0
      with:
        cmd: test
